@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        .welcome {
            margin: 0 10px 0;
        }

        .language-en {
            margin : 0 15px 10px;
            cursor : pointer;
            opacity: 0.5;

            &.active,
            &:hover {
                opacity: 1;
                color  : rgb(233, 9, 244);
            }
        }

        .language-vi {
            cursor : pointer;
            opacity: 0.5;

            &.active,
            &:hover {
                opacity: 1;
                color  : rgb(227, 111, 39);
            }
        }
    }
}