.manage-schedule-container {

    .m-s-title {
        text-transform: uppercase;
        margin        : 15px 0;
        font-weight   : 600;
        text-align    : center;
        font-size     : 17px;
    }

    .pick-hour-container {
        margin   : 20px 0;
        display  : flex;
        gap      : 20px;
        flex-wrap: wrap;


        .btn-time {
            background-color: #fff04b;
            color           : #333333;
            width           : auto;
            height          : auto;
            padding         : 10px 15px;
            box-sizing      : border-box;
            position        : relative;
            font-weight     : 600;

            &.active {
                background-color: orange;
                color           : #ffff;
            }

            &::before {
                content   : '';
                position  : absolute;
                top       : 0;
                left      : 0;
                right     : 0;
                bottom    : 0;
                border    : 1px solid transparent;
                transition: transform 0.3s;
            }

            &:hover::before {
                transform   : scale(1.02);
                border-color: rgb(155, 152, 152);
            }
        }
    }

    .btn-save {
        width           : 80px;
        background-color: #2973e1;
        color           : #ffff;

        &:hover {
            opacity: 0.8;
        }
    }
}